<!-- views/pages/index.ejs -->

<% include layouts/head %>

<body style="overflow: scroll !important; line-height: normal !important;">
    <main class="main">
        <!-- content goes here -->
        
        <div frontliner id="wrapper" ng-controller = "MainController as main" ng-init="main.initsystem();">
		<!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><div class="navbar-brand-image"></div></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                    	
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>Hi {{ main.name }}</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>Hi {{ main.name }}</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>Hi {{ main.name }}</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>-->
               
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ main.name }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!--<li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>-->
                        <li ng-click="main.open('', 'partials/form_changecounter.html')">
                            <a href="#"><i class="fa fa-fw fa-exchange"></i> CHANGE COUNTER</a>
                        </li>
                        <li ng-click = "main.toggleHead();" class="breaky">
                            <a href="#"><i class="fa fa-fw fa-bell-slash"></i> BREAK TIME</a>
                        </li>
                        <li class="divider"></li>
                        <li ng-click = 'main.logout();'>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                	<!--<li class="nav-header">NAVIGATION</li>-->
                	<li class="nav-header counterinfo">
	            		<div class="countnum">{{main.counter}}</div>
						<div class="counternum">COUNTER NUMBER :</div>
						<div class="statuscounter">{{main.transaction}} </div>
	                </li>
                	<!--<li class="nav-header">NAVIGATION</li>-->
                    <li class="active">
                        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                    </li>
                    <li>
                        <a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>
                    </li>
                    <li>
                        <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
                    </li>
                    <li>
                        <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
                    </li>
                    <li>
                        <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                    </li>
                    <li>
                        <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
		<div id="page-wrapper">

            <div class="container-fluid" ng-view = "">
				
				
			</div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

	</div>
 
    </main>
	<script src="/please-wait/build/please-wait.js"></script>
    <script src='/jquery/dist/jquery.js'></script>
    <script src="/javascripts/1.11.0-jquery-ui.js"></script>
    
    <script src="javascripts/ticker00.js"type="text/javascript" ></script>
    
	<!--	
	CDN
	<script src='https://code.jquery.com/ui/1.11.0/jquery-ui.js'></script>
	
	NOT WORKING (node_modules)
	<script src="/jquery-ui/jquery-ui.js"></script>
	<script src="/jquery-ui/dialog.js"></script>-->

    
	<script src="/angular/angular.min.js"></script>
    <script src="/angular-route/angular-route.min.js"></script>
    <script src="/angular-cookies/angular-cookies.min.js"></script>
	<script src="/angular-resource/angular-resource.min.js"></script>
	<script src="/angular-bootstrap-npm/dist/angular-bootstrap.js"></script>
	<script src="/angular-animate/angular-animate.min.js"></script>
	<script src="/angular-smart-table/dist/smart-table.js"></script>
	<script src="/angular-smart-table-improved/dist/smart-table-improved.js"></script>
	<script src="/javascripts/pdfmake/build/pdfmake.js"></script>
	<script src="/javascripts/pdfmake/build/vfs_fonts.js"></script>
	<script src="/highcharts/highcharts.js"></script>
	<script src="/highcharts/modules/data.js"></script>
	<script src="/highcharts/modules/exporting.js"></script>
	<link href="javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxcore.js type="text/javascript"/>
	<link href="javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxbuttons.js type="text/javascript"/>
	<link href="javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxdata.js type="text/javascript"/>
	<link href="javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxdatatable.js type="text/javascript"/>
	<link href="javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxmenu.js type="text/javascript"/>
	<link href="javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxscrollbar.js type="text/javascript"/>

	
	<script src="/socket.io-client/socket.io.js"></script>
	<script>
	  var socket = io.connect();
	</script>
	<script src="/jquery-colorbox/jquery.colorbox-min.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    
    <script src="/javascripts/footer.js"></script>
    
    <script src="../app/app.js"></script>
    <script src="../app/main.js"></script>
    <script src="../app/general.js"></script>
    <script src="../app/socket.js"></script>
    <script src="../app/login.js"></script>
    <script src="../app/frontline.js"></script>
    <script src="../app/backroom.js"></script>
    <script src="../app/admin.js"></script>
    
    <script src="../app/reporitorial.js"></script>
    
    <script src="../app/quetv.js"></script>
    <script src="../app/ipadque.js"></script>
    
    <script src="/javascripts/script.js"></script>

	<script src="javascripts/assets/jquery.fittext.js"  type="text/javascript"></script>
	<script src="javascripts/assets/jquery.lettering.js"  type="text/javascript"></script>
	<script src="javascripts/jquery.textillate.js"  type="text/javascript"></script>
	<script src="javascripts/jquery.blink.js"  type="text/javascript"></script>
   
    <script src="javascripts/jquery.simple-text-rotator.js" type="text/javascript" ></script>
    <script src="javascripts/FileSaver.js" type="text/javascript" ></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-ui-clock/angular-clock.js"></script>

</body>
</html>