<style>

	.app-modal-window .modal-dialog {
	  width: 400px;
	}
	.current {
		color:white !important;
		background-color:#004d99;
	}
	.client_status{
		margin: 6px 0px 4px 0px !important;
	}
	.red{
		color:red !important;
	}

	.panel-overlay {
	    /* set it to fill the whole panel */
	    top: 0; right: 0; bottom: 0; left: 0;
	    position: absolute;
	    background-color:#333;
	    opacity:0.5;
	    text-align:center;
		padding-top:30%;
	}


	/*for radio buttons*/
	input[type=radio], input[type=checkbox] {
		display:none;
	}

	input[type=radio] + label, input[type=checkbox] + label {
		display:inline-block;
		margin-top: 0px !important;
		margin:-2px;
		padding: 4px 12px;
		margin-bottom: 0;
		font-size: 14px;
		line-height: 20px;
		color: #333;
		text-align: center;
		text-shadow: 0 1px 1px rgba(255,255,255,0.75);
		vertical-align: middle;
		cursor: pointer;
		background-color: #f5f5f5;
		background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
		background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
		background-image: -o-linear-gradient(top,#fff,#e6e6e6);
		background-image: linear-gradient(to bottom,#fff,#e6e6e6);
		background-repeat: repeat-x;
		border: 1px solid #ccc;
		border-color: #e6e6e6 #e6e6e6 #bfbfbf;
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
		border-bottom-color: #b3b3b3;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	}

	 input[type=radio]:checked + label, input[type=checkbox]:checked + label{
		background-image: none;
		outline: 0;
		-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		background-color:#e0e0e0;
	}

</style>

<div id="page-wrapper">
<div ng-init = "session_check(); initList();">
				<ul class="breadcrumbs">
		            <li><a ><i class="iconfa-home"></i></a> <span class="separator"></span></li>
		            <li></li>
		        </ul>

				<div class="row">
                    <div class="col-lg-12">

						<ul class="nav nav-tabs nav-justified">
							<li class="active"><a data-toggle="tab" href data-target="#home">OVERALL</a></li>
							<li ng-repeat = "status in services"><a data-toggle="tab" href data-target="#menu{{status.id}}">{{status.service}}</a></li>
						</ul>

						<div class="tab-content">
							<div id="home" class="tab-pane fade in active">
							  <h3></h3>
							  <div class="panel panel-primary">
								<div class="panel-heading">
								    <h3 class="panel-title">
								    	<i class="fa fa-list-alt"></i> OVERALL
								    </h3>
								</div>
								<div class="panel-body">
										<div class="list-group">
								       		<a href="#" class = 'list-group-item' ng-repeat = "pending_client in pending">

								                <span class="badge">{{pending_client.TIMEONLY}}</span>

								                <h1  ><span class="numberque">[ {{ pending_client.numberque }} ]</span> <span class="client">{{pending_client.alias}}</span></h1>
								                <i class="client_status fa fa-fw {{pending_client.icon}}"></i>
								                {{pending_client.service}}

								            </a>
								    	</div>
									</div>
								</div>
							</div>
							<div ng-repeat = "service in services" id="menu{{service.id}}" class="tab-pane fade">
								<h3></h3>
								<div class="panel panel-primary" >
									<div class="panel-heading">
									    <h3 class="panel-title"><i class="fa fa-check"></i> {{service.service}} </h3>
									</div>
									<div class="panel-body">
										<a href="#" class = 'list-group-item' ng-repeat ="pending_client in pending | filter : {status : service.id}">

							                <span class="badge">{{pending_client.TIMEONLY}}</span>

							                <h1  ><span class="numberque">[ {{ pending_client.numberque }} ]</span> <span class="client">{{pending_client.alias}}</span></h1>
							                <i class="client_status fa fa-fw {{pending_client.icon}}"></i>
							                {{pending_client.service}}

							            </a>
									</div>
								</div>
							</div>

						</div>




					</div>
				</div>

</div>
</div>
