<style>
	.circle {
		width:100px;
		height:100px;
		border-radius:50%;
		font-size:50px;
		color:#06C;
		line-height:100px;
		text-align:center;
		/*background:#06C;*/
		border:2px solid #06C;
	}
	.panel-overlay {
	    /* set it to fill the whole panel */
	    top: 0; right: 0; bottom: 0; left: 0;
	    position: absolute;
	    background-color:#333;
	    opacity:0.5;
	    text-align:center;
		padding-top:30%;
	}
	
	.panel { position: relative; }
</style>
<div id="page-wrapper">
	<div ng-init="initquetv(true);">
		
	<!--<div class="container">
	  	<div class="jumbotron">
	    	<h1>Bootstrap Tutorial</h1> 
	    	<p>Bootstrap is the most popular HTML, CSS, and JS framework for developing
	    	responsive, mobile-first projects on the web.</p> 
	  	</div>
	</div>-->
		<div class="row">
	        <div class="col-lg-12">
	            <h1 class="page-header" style="margin: 0px !important;border-bottom: 0px !important;"></h1>
	        </div>
	    </div>
		<div class="row">
	        <div ng-repeat = "counter in counters" class="col-lg-3">
		        <div class="panel panel-primary">
		        	<div ng-if="counter.available === 1" class="panel-overlay">
		        		<h1 style = "color:#fff;">ON BREAK</h1>
		        	</div>
					<div class="panel-heading">
				    	<h3 class="panel-title">
				    		#{{ counter.counter_number }}
				    		{{ counter.service}} 
				    		<i class="client_status fa fa-fw {{counter.icon}}"></i>
				    	</h3>
				    	</br>
				    	<h3 class="panel-title">
				    		<i class="fa fa-user"></i> {{ counter.sit }}
				    	</h3> 
					</div>
					<div class="panel-body">
						<center>
							<div class = "circle" >{{ counter.numberque }}</div></br>
							<h1 ng-if = "!counter.client_name">NO CLIENT</h1>
							<h1>{{ counter.client_name }}</h1>
						</center>
					</div>
				</div>
	        </div>
	    </div>
	    
	    <div class="row">
	        <div class="col-lg-12">
		        <div class="panel panel-primary">
					<div class="panel-body">
						<div class="list-group">
				       		<a href="#" class = 'list-group-item' ng-repeat = "pending_client in pending">
				       			
				                <span class="badge">{{pending_client.TIMEONLY}}</span>
				                 
				       			<span class="label label-success" ng-show = "pending_client.preparedbyname != NULL && pending_client.status == 'RELEASING'">AR IS PREPARED</span>
				               
				                <h1  ><span class="numberque">[ {{ pending_client.numberque }} ]</span> <span class="client">{{pending_client.salutation}}. {{pending_client.firstname}}  {{pending_client.lastname}}</span></h1>  
				                </br>
				                CALL BY : {{pending_client.alias}}
				                </br>
				                <i class="client_status fa fa-fw {{pending_client.icon}}"></i> 
				                {{pending_client.service}}
				            </a>
				    	</div>
					</div>
				</div>
	        </div>
	    </div>
	    
	</div>
</div>