<style>
	.red{
		background-color: #d43f3a !important;
	}
	.greenc{
		background-color: #5cb85c !important;
	}
</style>
<ul class="breadcrumbs"></ul>
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header" style="margin: 0px !important;border-bottom: 0px !important;"></h1>
	</div>
</div>
<div class="row" ng-if="ADD_USER">
        <div class="col-lg-12">
	        <div class="adminpageheader">
	        	<div class = "buts">
					<ul class="buttons">
						<li ><a ng-click = "openmodal('', 'partials/form_adduser.html');">ADD USER <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a><li>

					</ul>
				</div>
	        </div>
	    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" style="margin: 0px !important;border-bottom: 0px !important;"></h1>
    </div>
</div>
<div class="row" ng-init="initializeAdmin();">

<div id="loading_screen_child">
	<div class="spinner">
	  <div class="cube1"></div>
	  <div class="cube2"></div>
	</div>
	<!--<div class="sk-cube-grid">
	  <div class="sk-cube sk-cube1"></div>
	  <div class="sk-cube sk-cube2"></div>
	  <div class="sk-cube sk-cube3"></div>
	  <div class="sk-cube sk-cube4"></div>
	  <div class="sk-cube sk-cube5"></div>
	  <div class="sk-cube sk-cube6"></div>
	  <div class="sk-cube sk-cube7"></div>
	  <div class="sk-cube sk-cube8"></div>
	  <div class="sk-cube sk-cube9"></div>
	</div>-->
</div>
		  <div class="col-lg-12 ">
		  		<div messagealert class="alert alert-{{alert}}" id="alert" ng-show="prompt">
                    <strong>{{strong}}</strong> {{promptMessage}}
                </div>

			  	<ul class="nav nav-pills nav-justified">
		  			<li ng-click = "setActiveTab(level.id);" ng-repeat="level in user_levels" ng-class="currentTab == level.id ? 'active' : '' " ng-show="level.id >= userlevel"><a href data-toggle="tab" data-target="#tab{{level.id}}">{{level.name}}</a></li>
				</ul>
			  	<div individualmessagealert class="tab-content userList ">

					<div ng-repeat="level in user_levels" id="tab{{level.id}}" ng-class="currentTab == level.id ? 'tab-pane fade in active' : 'tab-pane fade in' ">
						<h3></h3>
						<div class="panel panel-primary">
							<div class="panel-heading">
							    <h3 class="panel-title"><i class="fa fa-list-alt"></i></h3>
							</div>
							<div class="panel-body">
								<div datatable class="table-responsive">
		                                <table  id="dtable" class="table table-striped table-bordered table-hover">
		                                    <thead>
		                                        <tr>
		                                        	<th></th>
		                                        	<th>USERNAME</th>
		                                            <th>NAME</th>
		                                            <th>LEVEL</th>
		                                            <th>ACTIVATED</th>
		                                            <th><span class="glyphicon glyphicon-pencil"></span></th>
		                                        </tr>
		                                   </thead>
		                                    <tbody>
			                                        <tr ng-repeat-start="user in users | filter: {level: level.id}">
			                                            <td>
			                                            	<a ng-if="EDIT_USER" class="btn" data-toggle = "collapse" data-target = "#{{user.id}}" ng-click="!collapseOpen[user.id]; setActiveCollapse(user.id);">
			                                            		<span class=" glyphicon glyphicon-menu-down"></span>
			                                            	</a>
			                                            </td>
			                                            <td>{{user.username}}</td>
			                                            <td>{{user.firstname}} {{user.lastname}}</td>
			                                            <td>{{user.level_name}}</td>
			                                            <td ng-class = "user.activated == 'Yes' ? 'greenc' : 'red' ">{{user.activated}}</td>
			                                            <td>
			                                            	<a ng-if="TOGGLE_ACTIVATION" href="#" class="btn " ng-class = "user.activated == 'Yes' ? 'btn-primary' : 'btn-info' " ng-click="toggleActivate(user.activated, user.id, user.username);">
			                                            		<span ng-if="user.activated == 'Yes'">
			                                            			<span class="glyphicon glyphicon-remove"></span>
			                                            			DEACTIVATE
			                                            		</span>
						                                     	<span ng-if="user.activated != 'Yes'">
						                                     		<span class="glyphicon glyphicon-ok"></span>
			                                            			ACTIVATE
			                                            		</span>
			                                            	</a>
			                                            	<a ng-if="RESET_PASSWORD" href="#" class="btn btn-info" ng-click="resetPass(user.username,user.id);">
			                                            		<span>
			                                            			<span class="glyphicon glyphicon-refresh"></span>
			                                            			RESET PASSWORD
			                                            		</span>
			                                            	</a>
			                                            	<a ng-if="DELETE_USER" href="#" class="btn btn-danger" ng-click="deleteuser(user.id);"><span class="glyphicon glyphicon-trash"></span> </a>
															<a href="#" class="btn btn-info" ng-click="forceLogout(user.username,user.id);">
			                                            		<span class="fa fa-fw fa-power-off"></span>
			                                            	</a>
			                                            </td>
			                                        </tr>
			                                        <tr ng-show="level.id > userlevel" ng-repeat-end>
		                                        		<td ng-class="collapseOpen[user.id] != true ? 'tr-closed' : ''" colspan="6">

		                                        			<div class="alert alert-{{alert}}" id="individual{{user.id}}" ng-show="individualPrompt[user.id]">
											                    <strong>{{strong}}</strong> {{promptMessage}}
											                </div>

		                                        			<div ng-class = "collapsed[user.id] ? 'collapse in' : 'collapse'" id="{{user.id}}">
			                                        			<div class="col-lg-4" style="padding-top:10px; padding-bottom:10px;">
			                                        				<div class="panel panel-primary">
																		<div class="panel-heading">
																		    <h3 class="panel-title">LEVEL: </h3>
																		</div>
																		<div class="panel-body">
						                                        			<form role="form">

														                        <div class="form-group">
														                            <select ng-disabled = "!CHANGE_LEVEL" ng-model="account_level[user.id]" class="form-control">
																				  		 <option ng-repeat="item in user_levels" ng-show="item.id >= userlevel" value="{{item.id}}" >{{item.name}}</option>
																					</select>
														                        </div>

																				<button ng-disabled = "!CHANGE_LEVEL" id="level-{{user.id}}" ng-click="setCurrentScroll('level', user.id); changeLevel(account_level[user.id], user.id);" name="saves" type="submit" id="adminbtn" class="btn btn-primary btn-md">SET</button>
														                    </form>
														                </div>
														          	</div>
			                                        			</div>
			                                        			<div class="col-lg-4" style="padding-top:10px; padding-bottom:10px;">
				                                        			<div class="panel panel-primary">
																		<div class="panel-heading">
																		    <h3 class="panel-title">PERMISSIONS: </h3>
																		</div>
																		<div class="panel-body">
					                                        				<form role="form">
					                                        					<div class="form-group">
					                                        						<div ng-repeat="item in user.permissions" class="checkbox">
													                                    <label>
													                                        <input ng-disabled = "!TOGGLE_PERMISSIONS" type="checkbox" ng-model="permission['user'+user.id]['item'+item.id]" ng-true-value="[{{item.id}}, {{user.id}}]" ng-false-value="[null, {{user.id}}]">{{item.permission}}
													                                    </label>
													                                </div>
													                            </div>
												                            	<button ng-disabled = "!TOGGLE_PERMISSIONS" id="perm-{{user.id}}" name="saves" type="submit" class="btn btn-primary btn-md" ng-click="toggleSetting(permission['user'+user.id], user.id, 'permission'); setCurrentScroll('perm', user.id);">SAVE</button>
														                    </form>
														                </div>
														          	</div>
			                                        			</div>
			                                        			<div class="col-lg-4" style="padding-top:10px; padding-bottom:10px;">
				                                        			<div class="panel panel-primary">
																		<div class="panel-heading">
																		    <h3 class="panel-title">MENU: </h3>
																		</div>
																		<div class="panel-body">

					                                        				<form role="form">
					                                        					<div class="form-group" ng-init="subs = [];">
					                                        						<div ng-repeat="menuitem in user.menus | filter: {parent: '!'}" class="checkbox">
													                                    <label>
													                                    	<input type="checkbox" ng-click="checkSubs(user.id , menuitem.id, subs['sub'+user.id+''+menuitem.id], subkeys);" ng-init="subkeys = {}; subs['sub'+user.id+''+menuitem.id];" ng-model="menu['user'+user.id]['item'+menuitem.id]" ng-true-value="[{{menuitem.id}}, {{user.id}}]" ng-false-value="[null, {{user.id}}]">{{menuitem.menu_name}}
													                                    		<div ng-repeat="subitem in sub = (user.menus | filter: {parent: menuitem.id} ) track by $index" class="checkbox">
																                                    <label>
																                                    	<input  ng-disabled = "!TOGGLE_MENU" type="checkbox" ng-change="subs['sub'+user.id+''+menuitem.id][$index] = menu['user'+user.id]['item'+subitem.id]; checkParent(user.id , menuitem.id, subs['sub'+user.id+''+menuitem.id] );" ng-init = "subkeys['sub'+user.id+''+menuitem.id][$index] = subitem.id; subs['sub'+user.id+''+menuitem.id][$index] = menu['user'+user.id]['item'+subitem.id];" ng-model="menu['user'+user.id]['item'+subitem.id]" ng-true-value="[{{subitem.id}}, {{user.id}}]" ng-false-value="[null, {{user.id}}]">{{subitem.menu_name}}
																                                    </label>
																                                </div>
													                                    </label>
													                                </div>
													                            </div>
												                            	<button ng-disabled = "!TOGGLE_MENU" id="menu-{{user.id}}"  name="saves" type="submit" class="btn btn-primary btn-md" ng-click="toggleSetting(menu['user'+user.id], user.id, 'menu');  setCurrentScroll('menu', user.id);">SAVE</button>
														                    </form>
														                </div>
														          	</div>
			                                        			</div>
		                                        			</div>
		                                        		</td>
			                                        </tr>
		                                   </tbody>
		                                </table>
		                            </div>
				            </div><!--listusers-cont-->

					</div>
			  	</div>
			</div>
		</div><!--col-lg-12-->

</div>
